/* 페이지를 늘려 스크롤 생성 */
body {
    min-height: 1500px;
}

/* 부모 박스 position : relative */
.parent {
    /* 자식들 값의 기준이 됨 */
    position: relative;
    border: 1px dashed red;
    border-radius: 10px;
    height: 120px;
    background-color: ivory;
    margin: 10px 0;
}

/* relative : 원래 자리 기준으로 이동 */
.ptag {
    position: absolute;
    top: 6px;
    left: 10px;
    color: purple;
    font-weight: bold;
}

.rel {
    position: relative;
    top: 30px;
    left: 20px;
    width: 150px;
    padding: 8px;
    background: greenyellow;
    border-radius: 6px;
    font-weight: bold;
    color: green;
}

.abs {
    position: absolute;
    background: pink;
    color: hotpink;
    padding: 10px;
    bottom: 10px;
    right: 16px;
    z-index: 10;
    border-radius: 6px;
}

/* fixed 화면 고정 - 스크롤해도 그 자리 */
.fixed {
    position: fixed;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    bottom: 100px;
    right: 100px;
}

.sticky {
    position: sticky;
    top: 0;
    margin: 10px 0;
    padding: 8px 12px;
    background: cyan;
    color: blue;
    font-weight: bold;
    border-radius: 6px;
}