ul {
    background-color: khaki;
    border: 5px double navy;

    /* 리스트 앞의 점 제거 */
    list-style: none;

    /* 안쪽 여백 - 글자와 테두리 사이 공간 */
    padding: 10px;
    /* 바깥쪽 여백 */
    margin: 50px;
    /* 
    padding, margin

    값 1개 - 상하좌우
    값 2개 - 상하/좌우
    값 4개 - 상 우 하 좌

    margin-top : 1px;
    margin-right : 2px;
    margin-bottom : 3px;
    margin - left : 4px;
     */
}