.neon {
    /* border:  1px solid red; */
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:  center;
    border-radius: 20px;
    background: linear-gradient(135deg, magenta, purple);
    color: white;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 0 25px rgb(255, 101, 255);
}