/* :root = 문서 전체의 뿌리 => 어디서든 꺼내 쓸 수 있음(안에 변수 정의) */
:root {
    --main-color: red;
    --gap: 1rem;
}

.row {
    display: flex;
    gap: var(--gap);
}

.btn {
    padding: 1rem 1rem;
    border: none;
    border-radius: 1rem;
    background: var(--main-color);
    color: white;
    font-weight: 700;
    cursor: pointer;
}