.menu {
    display: flex;
    gap: 10px;
    list-style: none;
}
#li1 {
    background-color: khaki;
    border: 5px double navy;
}

#li2 {
    background-color: pink;
    border: dashed red;
}

#li3 {
    background-color: greenyellow;
    border: 2mm ridge rgba(211, 220, 50, 0.6);
}